<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <typeAliases>
        <!--name:实体类所在的包名，可用类名代替类路径 -->
        <package name="com.yang.entity"/>
    </typeAliases>
    <mappers>
        <!--使用package的话要求mapper和接口名相同-->
<!--        <package name="com.yang.dao"/>-->
        <mapper resource="com/yang/dao/StudentDao.xml"/>
    </mappers>
</configuration>